<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel = "stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
<title>Spring - MVC</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>Spring MVC</h1>
			<h3>(Using Thymeleaf, JPA, & Spring Boot 2.2.1)</h3>
		</header>
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
		<div class="starter-template">
			<h2>Users List</h2>
			<table class="table table-striped table-hover table-condensed table-bordered">
				<tr>
					<th>Id</th>
					<th>Name</th>
				</tr>
					<tr th:each="user: ${users}">
						<form action="#" th:action="@{/users}" method="post">
							<td><input type="text" name="id" th:value="${user.id}" readonly/></td>
							<td><input type="text" name="name" th:value="${user.name}"/></td>
							<td><button type="submit" name="type" value="edit">Edit</button></td>
						</form>
						<form action="#" th:action="@{/users}" method="post">
							<td><button type="submit" name="type" value="remove">Remove</button></td>
							<input type="hidden" name="id" th:value="${user.id}">
							<input type="hidden" name="name" value=0/>
						</form>
					</tr>
					<tr>	
						<form action="#" th:action="@{/users}" method="post">
							<td><button type="submit" name="type" value="save">Save</button></td>
							<td><input type="text" name="name" value=""/></td>
							<input type="hidden" name="id" value=0>
						</form>
					</tr>
			</table>
		
			
		</div>
	</div>
	<script type="text/javascript"
  src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>